.skills-list {
  margin: 16px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 350px;
}

.skill-description {
  margin: 8px 0;
}

.experience-header {
  padding-top: 16px;
}

.flex {
  flex-grow: 1;
}
